@use "../../Global/mixin" as mix;
@use "../../Global/variable" as val;

.p-mainVisual {
    &__inner {
        background-color: #F3F3F2;
        padding-top: 80px;
        display: flex;
        justify-content: end;
    }

    &__texts {
        padding-top: 50px;
        padding-left: 1.5%;
        margin-right: -135px;
    }

    &__heading {
        font-size: 3rem;
        line-height: 85px;
        margin-bottom: 65px;
        font-family: val.$mincho;
        font-weight: bold;
    }

    &__dl {
        display: flex;
        align-items: center;
        margin-bottom: 37px;
    }

    &__new {
        font-size: 1.5rem;
        padding: 30px 20px;
        border-radius: 50%;
        background-color: #fff;
        color: val.$textColor-r;
        margin-right: 10px;
    }

    &__season {
        font-size: 1.3rem;

        span {
            font-size: 1rem;
        }
    }

    &__type {
        background-image: url(../images/top/typeBg.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: #fff;
        font-size: 1.5vw;
        font-family: val.$mincho;
        font-weight: bold;
        padding: 15px 0;
        margin-top: 25px;
        max-width: 680px;
        width: 35vw;
    }
}

.p-indexCommon {
    &__inner {
        padding: 165px 0;
        position: relative;
    }

    &__heading {
        margin-bottom: 60px;
    }

    &__txt {
        font-family: val.$mincho;
        font-weight: bold;
        padding: 60px 0 100px;
        font-size: 2rem;
        line-height: 55px;
        color: #fff;
        text-shadow: 2px 2px 5px#000;

        &--right {
            text-align: right;
        }

        &--left {
            text-align: left;
        }
    }

    &__bg {
        position: absolute;
        top: 310px;
        height: 360px;
        z-index: 0;
    }

    &__detail {
        width: 185px;
        padding: 10px 0 10px 30px;
        position: relative;
        display: inline-block;
        border: 1px solid #000;
        font-weight: bold;

        img {
            position: absolute;
            right: 10px;
            top: 40%;
        }
    }
}

.p-indexConcept {
    background-color: #fafaf9;

    &__contents {
        position: relative;
        z-index: 10;
    }

    &__img01 {
        position: absolute;
        top: 0;
        right: 0;
    }

}

.p-indexAccess {
    background-color: #f2f1ee;

    &__headgl {
        text-align: right;
    }

    &__heading {
        display: inline-block;
        text-align: left;
    }

    &__txt {
        text-align: right;
    }

    &__img01 {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__bg {
        right: 0;
    }

    &__foot {
        text-align: right;
    }
}

.p-indexPlan {
    background-color: #fafaf9;

    &__contents {
        position: relative;
        z-index: 10;
    }

    &__img01 {
        position: absolute;
        top: 0;
        right: 0;
    }

}

@media(max-width:1440px) {
    .p-mainVisual {
        &__inner {
            justify-content: center;
        }

        &__heading {
            font-size: 3.5vw;
            line-height: 70px;
            margin-bottom: 20px;
        }

        &__texts {
            padding-top: 0;
            width: 40%;
            padding-bottom: 50px;

            img {
                width: 65%;
            }
        }

        &__type {
            width: 30vw;
        }

        &__img {
            width: 60%;
        }
    }
}

@media(max-width:850px) {
    .p-mainVisual {
        &__inner {
            flex-direction: column;
            text-align: center;
            padding-top: 40px;

        }

        &__texts {
            width: 90%;
            margin-inline: auto;
            padding: 0;
        }

        &__heading {
            font-size: 6.5vw;
            line-height: 80px;

        }

        &__type {
            width: 100%;
            font-size: 2.8vw;
            background-size: auto;
            margin-inline: auto;
        }

        &__dl {
            justify-content: center;
        }

        &__season {
            text-align: left;
        }

        &__img {
            width: 100%;
            margin-top: 50px;
        }
    }

    .p-indexCommon {

        &__inner {
            padding: 140px 0;
        }

        &__bg {
            width: 90%;
        }

        &__heading {
            max-width: 83%;
            margin-inline: auto;
            font-size: 8.5vw;
        }

        &__txt {
            max-width: 83%;
            margin-inline: auto;
            padding-top: 125px;
            font-size: 4.5vw;
        }

        &__foot {
            max-width: 83%;
            margin-inline: auto;
            @include mix.flex;
            align-items: end;
        }

        &__footImg {
            width: 25%;
        }
    }

    .p-indexAccess {
        &__headgl {
            max-width: 83%;
            margin-inline: auto;
        }
    }

    .p-index-topImg01 {
        width: 25%;
        top: 45px;
        right: 20px;
    }

    .p-index-topImg02 {
        width: 25%;
        top: 45px;
        left: 20px;
    }
}

@media(max-width:480px) {
    .p-mainVisual {
        &__heading {
            font-size: 7.5vw;
            line-height: 60px;
        }

        &__dl {
            margin-bottom: 20px;
        }
    }

    .p-indexCommon {
        &__inner {
            padding: 60px 0 70px;
        }

        &__heading {}

        &__txt {
            padding: 0;
            font-size: 3.5vw;
            line-height: 30px;

        }

        &__bg {
            height: 147px;
            top: 145px;
        }

        &__foot {
            max-width: 86%;
            margin-top: 25px;
        }

        &__detail {
            width: 120px;
            font-size: 0.7rem;
            padding: 7px 0 7px 15px;
        }
    }

    .p-index-topImg01 {
        top: 0;
    }

    .p-index-topImg02 {
        top: 0;
    }
}