.c-subVisual {
    margin-top: 100px;
    &__txt {
        color: #fff;
        font-size: 2rem;
        height: 450px;
        padding-top: 170px;
        line-height: 55px;
    }
}

.c-commonTitle{
    margin-bottom: 30px;
}
