/*common*/

.l-container {
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-inline: auto;
}

.l-contactContainer{
    max-width: 930px;
    padding-right: 15px;
    padding-left: 15px;
    margin-inline: auto;
}

.l-subVisual-container{
    max-width: 1030px;
    padding-right: 15px;
    padding-left: 15px;
    margin-inline: auto;
}

/*top*/

.l-mvTxt-container{
    max-width: 450px;
    margin-inline: auto;
}


/* concept */

.l-conceptEnergy-top-container{
    max-width: 1350px;
    padding-right: 15px;
    padding-left: 15px;
    margin-inline: auto;
}